@font-face {
  font-family: 'Raleway-Bold';
  src: url('../../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Playball';
  src: url('../../fonts/Playball-Regular.ttf') format('truetype');
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$headers: (h1,h2,h3,h4,h5,h6);
h1, h2, h3, h4, h5, h6 { 
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400; 
  font-family: 'Playball';
}

@for $i from 1 to 6 {
  h#{$i} {
    font-size: modular-scale((7 - $i)/7 * 4.5);
    line-height: 1.2 + ($i/10);
  }
}

@media (min-width: 550px) {
  @for $i from 1 to 6 {
    h#{$i} {
      font-size: modular-scale((7 - $i)/7 * 3);
      line-height: 1.2 + ($i/10);
    }
  }
}

p {
  margin-top: 0; 
  font-weight: 300 !important;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { 
  color: $primary; }
a:hover { 
  color: darken($primary, 10%); }

.uc, .u-t-uc {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.u-text, .text {
  &-left { text-align: left; }
  &-right { text-align: right; }
  &-center { text-align: center; }
}
.u-floatright { float: right; }
.u-floatleft { float: left; }

.u-za {
  margin: 0 auto;
}


